$widthContent: 1140px;
$colorAkcent: #f16d7f;
$colorBlack: #222222;
$bigFontSize: 1.875rem;
$bigT: 1.5rem;
$mediumT: 1.25rem;
$bigD: 1.125rem;
$mediumD: 1rem;
$SmallD: 0.8rem;

// 10,13, 14,16,18, 20,24,30
