.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.clr {
  color: #8a2be2;
  color: #8a2be2;
}

.nav {
  display: flex;
  gap: 16px;
}
.nav__link {
  text-decoration: none;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.content__item {
  width: 384px;
  width: 288px;
  height: 200px;
  border: 1px solid #000;
}