* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Duru Sans", serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.about {
}
.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 100px auto;
}
.ab_item {
  max-width: 370px;
  display: grid;
  gap: 25px;
  padding: 30px;
}
.ab_title,
.ab_link {
  font-weight: bold;
}
.ab_desc {
  font-size: 15px;
  color: #666666;
}
.ab_title {
  font-size: 24px;
}
.shadow {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.ab {
  background: #fafafa;
  padding: 100px 0;
}
.main-title,
.desc {
  text-align: center;
}

.main-title {
  font-size: 45px;
  margin-bottom: 20px;
}
.desc {
  font-size: 16px;
  color: #666;
}
.gap {
  margin-top: 50px;
  gap: 30px;
}
.item {
  background: #fff;
  height: 549px;
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}
.desc {
  color: #aaa;
  margin-bottom: 39px;
  text-align: center;
}
.link {
  background: #f25822;
  padding: 15px 40px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
