@import "vars.scss";
@import "mixins.scss";
.container {
    padding-left: calc(50% - $widthContainer / 2);
    padding-right: calc(50% - $widthContainer / 2);
}
.clr {
    color: $colorText;
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gap;

    &__link {
        text-decoration: none;
    }
}
.content {
    margin-top: 30px;
    @include displayFlex;
    gap: $gap;
    &__item {
        // width: calc(($widthContainer - ($gap * 3)) / 4);
        width: calc(($widthContainer / 3) - $gap);
        width: 0.25 * ($widthContainer - $gap * 3);
        height: 200px;
        border: $border;
    }
}
