.acc {
    padding-top: 60px;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    text-align: center;
    gap: 30px;
    margin-bottom: 96px;

    &_item-1,
    &_item-2,
    &_item-3 {
        padding: 105px 0;
    }
    &_item-1 {
        background-image: url("../img/m1.png");
    }
    &_item-2 {
        background-image: url("../img/m2.jpg");
    }
    &_item-3 {
        background-image: url("../img/m3.jpg");
    }
    &_item-4 {
        background-image: url("../img/m4.jpg");
        grid-row: span 3;
        grid-column: span 3;
        padding: 65px 0;
    }
}
.acc_title {
    color: $colorAkcent;
    font-size: 24px;
}
