@media (max-width: 769px) {
    .top img {
        display: none;
    }
    .top {
        max-width: 100vw;
        min-height: 500px;
        justify-content: center;
        gap: 0;
    }
    .acc {
        grid-template-columns: repeat(2, 49%);
        gap: 15px;
        padding: 60px 2% 0;
    }
    .acc_item-4 {
        grid-column: span 1;
        grid-row: span 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .feature_list {
        grid-template-columns: repeat(2, 49%);
        padding: 0 2%;
        gap: 14px;
    }
    .s_box {
        flex-direction: column;
        width: 100%;
    }
    .ss {
        margin-top: 45px;
    }
}
@media (max-width: 376px) {
    .top_text h1 {
        margin: 0;
        padding: 0;
        line-height: 75%;
        font-size: 38px;
    }
    .top_title span,
    .top_title b {
        font-size: 20px;
    }
    .acc {
        grid-template-columns: repeat(1, 99%);
        gap: 15px;
        padding: 60px 2% 0;
    }
    .feature_list {
        grid-template-columns: repeat(1, 99%);
        padding: 0 2%;
        gap: 16px;
    }
    .acc_item-4 {
        padding: 30px;
    }
    .top {
        min-height: 365px;
    }
    .swg {
        width: 50px;
    }
    .p2,
    .p3 {
        width: 0;
        display: none;
    }
    .s_person_desc {
        font-size: 18px;
    }
    .s_sub {
        font-size: 14px;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;

        .f_text {
            order: 2;
        }
        .f_social {
            margin-bottom: 40px;
        }
    }
}
